.container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    max-width: 700px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}